.login-body{
	background-color: #dedfe0 !important;
}
/*.c-navbar{
	box-shadow: 1px 1px 1px #bfbbbb !important;
}
.c-sidebar{
	background-color: #000000 !important;
}
.c-sidebar__link.is-active{
	box-shadow: inset 3px 0 0 0 #ffffff !important;
}
.c-sidebar__item.is-open{
	box-shadow: inset 3px 0 0 0 #1d2531 !important;
}*/
.notifs{
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 23411231231231232312;
	width: 30%; 
	display: none;
}
.right{
	float: right !important;
} 
.c-sidebar{
    background-color: #2aabca !important;
}
.c-sidebar__link{
    color: #fff;
}
.c-sidebar__link.is-active{
    background-color: #fff !important;
    color: #2aabca;
} 
.o-page__sidebar .c-sidebar__link:hover{
    background-color: #fff !important;
    color: #2aabca; 
    transition: 2s;
}
.c-sidebar__title{
    color: #fff;
}
.c-sidebar__brand{
    border-bottom: 1px solid #138fad;
} 
.center-text{
	text-align: center;
}
.break{
	word-wrap: break-word; 
	text-align: center;
}
.last{
	padding: 0 !important;
}
.box{
	background-color:white; 
	/* 
	overflow-x: scroll !important;
	*/
}
.head-bg{
	background-color: #289df4;
}
.head-bg tr th{
	color: #fff;
} 
.rowtable:hover{ 
	background-color: #deeefb;
	transition: 0.5s;
}
.search-cont{
	float: right;
}
.modalmax{
	max-width:500px;
}
.actionth{
	width: 10%;
}
select:option{
    width: 100%;
    padding: 2.5%;
    border: 1px solid #e4e4e4;
    outline: none;
	border-radius: 5px;
}
select{
    width: 100%;
    padding: 2.5%;
    border: 1px solid #e4e4e4;
    outline: none;
	border-radius: 5px;
}
.c-state__status a{
	color: white;
}
.head-bg{
	background-color: #2aabcad9;
}
.c-btn{
	background: linear-gradient(180deg,#2aabca,#1990ea);
}
table .c-btn{
	background: none !important;
	color:#333;
}
.c-btn--secondary{
	color: white;
}
.c-btn--danger{
    background: #f95359 !important;
    background: linear-gradient(180deg,#f95359,#d35847) !important;
    border-color: #d35847 !important;
} 
.js-xcalendar{
	margin-top: 2%;
}

.c-sidebar__item.is-open{
    background-color: #63c6de;
    box-shadow: inset 3px 0 0 0 #63c6de;
}